*{
    font-family: 'Times New Roman', Times, serif;
}

.title{
    text-align: center;
    font-size: 50px;
    background-color: bisque;
}

.text{
    font-size: 30px;
}

#banana{
    background-color: red;
    color: white;
}

.banana{
    background-color: rgb(250, 224, 76);
    text-align: center;
}

.small{
    font-size: 10px;
}

.head{
    background-color: black;
    color: white;
}