*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.title{
    text-align: center;
    font-size: 80px;
    background-color: bisque;
}

#oats{
    background-color: blanchedalmond;
}

.center{
    text-align: center;
}

#sory{
    text-align: right;
}

.choice{
    font-size: 50px;
}

#idbanana{
    background-color: red;
    color: white;
}

.banana{
    background-color: rgb(250, 224, 76);
    text-align: center;
}

.small{
    font-size: 10px;
}

.head{
    font-size: 50px;
    text-align: center;
    background-color: black;
    color: white;
}

.mid{
    display: block;
    margin-left: auto;
    margin-right: auto;
}