*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

h1{
    text-align: center;
    font-size: 80px;
}

#eggtitle{
    background-color: burlywood;
}

.icon{
    height: 50px;
    width: auto;
}

#ind{
    background-color: rgb(222, 182, 133);
}

#oats{
    background-color: blanchedalmond;
}

.center{
    text-align: center;
}

#sory{
    text-align: right;
}

#idbanana{
    background-color: red;
    color: white;
}

.banana{
    background-color: rgb(250, 224, 76);
    text-align: center;
}

.small{
    font-size: 15px;
}

h2{
    font-size: 40px;
    text-align: center;
    background-color: black;
    color: white;
}

.mid{
    display: block;
    margin-left: auto;
    margin-right: auto;
}